/*
 * index.css
 */
 *{margin:0;padding:0;color:#444}
 body {padding: 4.5rem;margin: 0;background: #edc0bf; background: linear-gradient(90deg, #acd7eb 0,#f5f8c4 50%);font-family: 'Inter', sans-serif;}
 .content{background-color:#f3f7f9; height:300px;border:1px dashed #c6d9b6;padding:20px; border:2px solid #a1a1a1;padding:15px 20px; border-radius:25px; }
 ol{margin:0 0 20px 22px;padding:0;}
 ol li{line-height:30px}
 .card {width: 400px;height: auto;padding: 2rem;border-radius: 1rem;background: rgba(255, 255, 255, .7);-webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px);display: block;
     position: fixed;
     _position: absolute;
     top: 50%;
     left: 50%;
     width: 666px;
     height:400px;
     margin-left: -333px;
     margin-top: -200px;
     z-index: 10001;
     box-shadow: 2px 2px 4px #A0A0A0, -2px -2px 4px #A0A0A0;}
    .card-title {margin-top: 0;margin-bottom: .5rem;font-size: 3rem;width: auto;height: auto;padding: 2rem;border-radius: 2rem;/*-webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px);display: block;*/} 
   p, a {font-size: 1rem;line-height: 35px;}
   a {color: #4d4ae8;text-decoration: none;}
:root {
  /* --gray-bg: #fbfbfb; */
  --gray: #707070;
  --gray-dark: #383838;
  --github-purple: #8241f9;
  --qq-light-blue: #12b7f5;
  --tg-blue: #279edb;
}

body, .p-1 {
  flex-direction: column;
}

body, .page {
  display: flex;
  margin: 0;
  background-color: var(--gray-bg);
}

.page {
  height: 400px;
}

.p-1 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

span,
p {
  color: var(--gray);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  max-width: 150px;
  width: auto;
}

.logo span {
  margin: 3px;
  font-size: 24px;
  color: var(--gray-dark);
}

.contact {
  margin-top: 70px;
}

.contact a {
  display: block;
  text-decoration: none;
  font-size: 18px;
}

a.github {
  color: var(--github-purple);
}

a.qq {
  color: var(--qq-light-blue);
}

a.telegram {
  color: var(--tg-blue);
}

.bio {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.bio p,
.bio span {
  margin: 0 10px;
  font-size: 22px;
}

.bio-text {
  display: inline-block;
  position: relative;
}

.bio-text::after {
  content: " ";
  position: absolute;
  right: -6px;
  top: 5px;
  height: 22px;
  width: 3px;
  animation: insert 1s steps(1) infinite;
}

@keyframes insert {
  0%,
  100% {
    background-color: var(--gray);
  }

  50% {
    background-color: transparent;
  }
}