/*
 * index.css
 */

/* 背景样式 */

body {
  min-height: 100vh;
  background: #edc0bf;
  background: linear-gradient(90deg, #acd7eb 0, #f5f8c4 50%);
  font-family: "Inter", sans-serif;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  max-width: 600px;
  width: 40%;
  min-height: 400px;
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 10001;
  box-shadow: 2px 2px 4px #a0a0a0, -2px -2px 4px #a0a0a0;
}

/* 核心内容布局 */

:root {
  /* --gray-bg: #fbfbfb; */
  --gray: #707070;
  --gray-dark: #383838;
  --github-purple: #8241f9;
  --qq-light-blue: #12b7f5;
  --tg-blue: #279edb;
}

body,
.p-1 {
  flex-direction: column;
}

body,
.page {
  display: flex;
  margin: 0;
  background-color: var(--gray-bg);
}

.page {
  min-height: 100vh;
}

.p-1 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

span,
p {
  color: var(--gray);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  max-width: 150px;
  width: auto;
}

.logo span {
  margin: 3px;
  font-size: 24px;
  color: var(--gray-dark);
}

.contact {
  margin-top: 30px;
  display: flex;
}

.contact a {
  display: block;
  text-decoration: none;
  font-size: 18px;
}

.svglogo{
  width: 40px;
}

a.github {
  color: var(--github-purple);
  margin: 0px 10px;
  line-height: 40px;
}

a.qq {
  color: var(--qq-light-blue);
  margin: 0px 10px;
  line-height: 40px;
}

a.telegram {
  color: var(--tg-blue);
  margin: 0px 10px;
  line-height: 40px;
}

.bio {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.bio p,
.bio span {
  margin: 0 10px;
  font-size: 22px;
}

.bio-text {
  display: inline-block;
  position: relative;
}

.bio-text::after {
  content: " ";
  position: absolute;
  right: -6px;
  top: 5px;
  height: 22px;
  width: 3px;
  animation: insert 1s steps(1) infinite;
}

@keyframes insert {
  0%,
  100% {
    background-color: var(--gray);
  }

  50% {
    background-color: transparent;
  }
}

.textcolor-gray{
  color: var(--gray-dark);
}
.contact a{
  background-color:rgb(217, 231, 203) ;
  padding: 15px;
  border-radius: 25px;
  transition: .25s;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.contact a:hover{
  background-color: rgb(205, 217, 191);
  transition: .25s;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.contact a[aria-label]:hover:after {

  content: attr(aria-label);
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color:rgb(217, 231, 203) ;
  width: 100%;
  border-radius: 0px 0px 20px 20px;

}